<div class="inner cover body">
  <div class="spacer2">
    <%= image_tag("practice.png", :alt => "Office Logo", :width => "700", :class => "cover-heading card-header quotehead") %>
  </div>
  <br>
  <div class="quote-card">
    <p class="lead ftquote"><b>“But oh! the blessing it is to have a [confidant] to whom one can speak fearlessly on any subject; with whom one's deepest as well as one's most foolish thoughts come out simply and safely..."</b></p>
  </div>
  <div class="quoteauthor">
    <p><footer class="blockquote-footer"><cite title="Dinah Maria Mulock Craik"><a href="https://www.goodreads.com/work/quotes/884170-a-life-for-a-life", target="blank"><span class="customqt">Dinah Maria Mulock Craik in <b>A Life for a Life</b></span></a></cite></footer></p>
  </div>
  <div class="appt-card"></div>
  <br><br><br><br> 
	  <div class="appointment-card">
      <div class="custcardheader">
        <h1 class="cover-heading">
			    <b>Request an Appointment</b>
		    </h1>
        <h3 class="subtitle">
          <b>For your convinence, we have the option to fill out the form below  for our staff to reach out to you. Or give us a call at 801-772-0202.</b> 
        </h3>
      </div> 
      <br><br><br><br>
      <div class="custformalign">
        <%= form_with do |f| %>
          <div class="form-group btn-block">
            <%= f.text_field :name, class: 'form-control', placeholder: "Name:" %>
          </div>

          <div class= "form-group btn-block">
            <%= f.text_field :email, class: 'form-control', placeholder: "Email:" %>
          </div>

          <div class="form-group  btn-block">
            <%= f.text_field :phone, class: 'form-control', placeholder: "Phone:" %>
          </div>

          <div class="form-group btn-block">
            <%= f.text_area :body, class: 'form-control', rows: 15, placeholder: "Is there anything you want us to know?" %>
          </div>

          <div class="form-group">
            <%= f.submit "Submit Request", class: 'btn btn-cus btn-block' %>
          </div>
      
        <% end %>
      </div>
    </div>
	</div>
  <div class="frontfooter">
    <%= video_tag(
      'footerft.mp4',
      id: 'custftfooter',
      autoplay: :autoplay,
      loop: :loop,
      muted: :muted,
      )
    %>
  </div>
</div>